extends layout

block content

  .container-fluid
    .row
      .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1.sidebar
        ul.nav.nav-sidebar
          each collection, index in collections
            li
              a(href='/database/'+collection.name)=collection.displayName.charAt(0).toUpperCase() + collection.displayName.slice(1)

      .col-xs-12.col-sm-9.col-md-8.col-lg-8.col-xs-offset-0.col-sm-offset-0.col-md-offset-0.col-lg-offset-0

        each user, index in users
          pre(style='white-space: pre;')
            code
              = JSON.stringify(user, '', '  ')




