extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  .container
    .jumbotron
      img(src='/images/nodejs-light.svg')
      h1 Nodejs Web Starter Kit
    //-
      p
        | This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
      p To see the difference between static and fixed top navbars, just scroll.
      p
        //- a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') View navbar docs »

  .container
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          each val, index in routes
            li
              a(href='/'+val)=val.charAt(0).toUpperCase() + val.slice(1)
