doctype html
html(ng-app="mainModule", ng-controller="mainController")
  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    if base
      base(href=base)
    else
      base(href='/')
    
    if title
      title= title.charAt(0).toUpperCase() + title.slice(1)
    else
      title= ''
    
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap-theme.min.css')

    link(rel='stylesheet', href='stylesheets/stylesheet.css')

    link(rel='stylesheet', href='stylesheets/login.css')
    link(rel='stylesheet', href='stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='components/world-flags-sprite/stylesheets/flags32.css')
    link(rel='stylesheet', href='components/world-flags-sprite/stylesheets/flags16.css')

    //- Angular Animation Stylesheets
    link(rel='stylesheet', href='stylesheets/animations.css')    
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='true', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home
        //- #navbar.navbar-collapse.collapse.in(aria-expanded='false')
        #navbar.navbar-collapse.collapse(aria-expanded='false')
          ul.nav.navbar-nav.navbar-right
            //- li.active
            //-   a(href='#') Home
            li
              a(href='/auth') Log in
            li
              a(href='/about') About
            //- li
            //-   a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                if reqUser
                  = 'Hi, ' + reqUser.local.displayName
                else
                  | Hi, Guest
                span.caret
              ul.dropdown-menu
                li
                  if reqUser
                    //--a(href='/user/id/' + reqUser._id) Profile
                    a(href='user') Profile
                    a(href='/auth/logout', target='_self') Logout
                  else
                    a(href='/auth') Log in
  
    .container-fluid
      .row

        .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1

          //-- Message when Javascript is disabled.
          noscript
            .alert.alert-danger.alert-dismissible(role='alert')
              strong JavaScript Required.
              |  We're sorry, but this website is working better with JavaScript enabled.

          if reqFlashSuccess && reqFlashSuccess!=''
            .alert.alert-success.alert-dismissible(role='alert')
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
              strong
              =reqFlashSuccess

    .container-fluid
      .row
        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
          div(class="view-container")
            div(ng-view, class="view-frame")
              block content

    footer.footer
      .container
        p.text-muted ...

    //- jQuery JavaScript
    //- Loaded before angular, to make the javascript from partial template executable
    script(src='components/jquery/dist/jquery.min.js')

    script(src='/components/Chart.js/Chart.js')

    script(src='components/raphael/raphael-min.js')
    script(src='components/justgage-bower/justgage.js')

    //- Angular JavaScript Core
    script(type='text/javascript' src='components/angular/angular.min.js')

    script.
      $(document).ready(function () {
       
        window.setTimeout(function() {
          $(".alert-success").fadeTo(500, 0).slideUp(500, function(){
            $(".alert-success").alert('close');
          });
        }, 2000);
       
      });

    //- Bootstrap JavaScript
    script(src='components/bootstrap/dist/js/bootstrap.min.js')


    //- Angular JavaScript Modules
    script(type='text/javascript' src='components/angular-route/angular-route.min.js')
    script(type='text/javascript' src='components/angular-resource/angular-resource.min.js')
    script(type='text/javascript' src='components/angular-animate/angular-animate.min.js')
    script(type='text/javascript' src='components/angular-sanitize/angular-sanitize.min.js')

    //- Angular JavaScript application
    script(type='text/javascript' src='appAngular')

    block endBody