doctype html
html
  head
    title= title
    
    script(src='/components/jquery/dist/jquery.min.js')

    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')

    script(src='/components/Chart.js/Chart.js')

    link(rel='stylesheet', href='/stylesheets/stylesheet.css')

    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='/components/world-flags-sprite/stylesheets/flags32.css')
    link(rel='stylesheet', href='/components/world-flags-sprite/stylesheets/flags16.css')
    
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='true', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home
        //- #navbar.navbar-collapse.collapse.in(aria-expanded='false')
        #navbar.navbar-collapse.collapse(aria-expanded='false')
          ul.nav.navbar-nav.navbar-right
            //- li.active
            //-   a(href='#') Home
            //- li
            //-   a(href='#about') About
            //- li
            //-   a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                if reqUser
                  = 'Hi, ' + reqUser.local.displayName
                else
                  | Hi, Guest
                span.caret
              ul.dropdown-menu
                li
                  if reqUser
                    a(href='/user/id/' + reqUser.local.id) Profile
                    a(href='/auth/logout') Logout
                  else
                    a(href='/auth') Log in
  
    .container-fluid
      .row

        .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1

          if reqFlashSuccess && reqFlashSuccess!=''
            .alert.alert-success(role='alert')
                =reqFlashSuccess

    block content

    footer.footer
      .container
        p.text-muted ...
    //-
        img(src='/images/nodejs-light.svg')
        h1 Nodejs Web Starter Kit
      
    //-    
        p.lead
          | Use this document as a way to quickly start any new project.
          br
          |  All you get is this text and a mostly barebones HTML document.
    //- /.container