doctype html
html
  head
    title= title
    
    script(src='/components/jquery/dist/jquery.min.js')

    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
