extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  .container-fluid
    .row

      .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
        
        pre(style='white-space: pre;')
          code
            
            | <b>User:</b><br>
            if reqUser
              = JSON.stringify(reqUser, null, '  ')
            else
              | Not logged in

            if reqSession
              | <br><br><b>Session:</b><br>
              = JSON.stringify(reqSession, null, '  ')
            else
              | No session
