extends layout

block content

  .container-fluid
    .row

      .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1

        ul.nav.nav-sidebar
          each val, index in routes
            li
              a(href='/'+val)=val.charAt(0).toUpperCase() + val.slice(1)
